.cards {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 3vmin;
	margin-top: 5vh;
}

.card {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 80%;
	flex-basis: 40vw;
	flex-grow: 0;
	padding: 10px;
	margin: 10px;

	box-shadow: 
    	0 10px 20px rgba(0, 0, 0, 0.15),
    	0 20px 40px rgba(0, 0, 0, 0.10),
    	0 30px 60px rgba(0, 0, 0, 0.05);
  	transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 
    0 15px 30px rgba(0, 0, 0, 0.20),
    0 30px 60px rgba(0, 0, 0, 0.15),
    0 45px 90px rgba(0, 0, 0, 0.10);
}

.card img {
	width: 40%;
	height: auto;
	padding-right: 15px;
}